@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('/images/site/fonts/proximanovasoft-regular.eot');
    src: url('/images/site/fonts/proximanovasoft-regular.eot?#iefix') format('embedded-opentype'),
         url('/images/site/fonts/proximanovasoft-regular.woff') format('woff'),
         url('/images/site/fonts/proximanovasoft-regular.ttf') format('truetype'),
         url('/images/site/fonts/proximanovasoft-regular.svg#proxima_nova_softregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('/images/site/fonts/proximanovasoft-medium.eot');
    src: url('/images/site/fonts/proximanovasoft-medium.eot?#iefix') format('embedded-opentype'),
         url('/images/site/fonts/proximanovasoft-medium.woff') format('woff'),
         url('/images/site/fonts/proximanovasoft-medium.ttf') format('truetype'),
         url('/images/site/fonts/proximanovasoft-medium.svg#proxima_nova_softmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('/images/site/fonts/proximanovasoft-semibold.eot');
    src: url('/images/site/fonts/proximanovasoft-semibold.eot?#iefix') format('embedded-opentype'),
         url('/images/site/fonts/proximanovasoft-semibold.woff') format('woff'),
         url('/images/site/fonts/proximanovasoft-semibold.ttf') format('truetype'),
         url('/images/site/fonts/proximanovasoft-semibold.svg#proxima_nova_softsemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova Soft';
    src: url('/images/site/fonts/proximanovasoft-bold.eot');
    src: url('/images/site/fonts/proximanovasoft-bold.eot?#iefix') format('embedded-opentype'),
         url('/images/site/fonts/proximanovasoft-bold.woff') format('woff'),
         url('/images/site/fonts/proximanovasoft-bold.ttf') format('truetype'),
         url('/images/site/fonts/proximanovasoft-bold.svg#proxima_nova_softbold') format('svg');
    font-weight: 700;
    font-style: normal;

}