@charset "UTF-8";
@import "normalize";
@import "bourbon";
//$visual-grid: true;
$max-width: 1000px;
@import "neat";

$tablet: new-breakpoint(max-width 768px 12);
$mobile: new-breakpoint(max-width 680px 6);

// Color Scheme 'vintage greeting card'
$accent-1: #5C4B51;
$accent-2: #8CBEB2;
$accent-3: #f8d794;
$accent-4: #F3B562;
$accent-5: #F06060;
$text-dark: #232B2E;
$black: #000;
$white: #FFF;
$gray: #c3c3c3;

// Color Scheme 'tasty'
// $accent-1: #F34A53;
// $accent-2: #FAE3B4;
// $accent-3: #AAC789;
// $accent-4: #437356;
// $accent-5: #1E4147;

.colorscheme {
    width: 100%;
    background-color: $accent-5; //fix for ipad rendering
    height: 15px;
    div {
        height: 15px;
        width: 20%;
        float: left;
    }
    :nth-child(1) {
        background-color: $accent-1;
    }
    :nth-child(2) {
        background-color: $accent-2;
    }
    :nth-child(3) {
        background-color: $accent-3;
    }
    :nth-child(4) {
        background-color: $accent-4;
    }
    :nth-child(5) {
        background-color: $accent-5;
    }
}



/* 1rem == 16px */
html {
    font-size: 16px;
}

body {
    background-color: #FDFDFD;
    //font-family: 'Volkorn', serif;
    font-family: 'Cabin', sans-serif;
    font-size: 1.15rem;
    color: $text-dark;
    margin: 0;
    padding: 0;
}

header {
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    background-color: $black;
    img {
        width: 100%;
        &.page-image {opacity: .5;}
        display: block;
    }
    .title {
        position: absolute;
        top: 0;
        bottom: 0; //height of the color swatches
        color: $white;
        width: 100%;
        text-align: center;
        font-size: 0;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            margin-right: -0.25em; /* Adjusts for spacing */
        }
        .title-contents {
            display: inline-block;
            vertical-align: middle;
        }
        h1 {
            display: inline-block;
            border-top: 2px solid $white;
            border-bottom: 2px solid $white;
            padding: 1rem 0;
            clear: both;
            margin: 0;
            color: $white;
            font-size: 5rem;
            @include media($tablet) { // As defined in _grid-settings.scss
                font-size: 4rem;
            }
            @include media($mobile) {
                font-size: 3rem;
            }
        }
        h2 {
            margin: 1rem 0;
            display: block;
            text-transform: lowercase;
            font-size: 1.5rem;
            color: $white;
        }
    }
}

.container {
    @include outer-container;
    margin: 0 auto 3rem auto;
    //padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    color: $text-dark;
    a, a:visited {
        text-decoration: none;
        color: $text-dark;
    }
    a:hover {
        color: $accent-5;
    }
}

h1 {
    font-size: 5rem;
    margin: 2rem 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

a, a:visited {
    color: $accent-5;
}

p {
    margin: 1rem 0;
    line-height: 1.5em;
}

::selection {
    background-color: $accent-5;
    color: $white;
}

.date {
    margin-top: 0;
    color: $accent-2;
    font-size: 1rem;
}

.post-index > a {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
    display: block;
    @include span-columns(6);
    @include omega(2n);
    img {
        @include span-columns(2 of 6);
        border-radius: 300px;
        border: 5px solid $gray;
        
    };
    div {
        text-align: left;
        @include span-columns(4 of 6);
        padding-left: 1rem;
    };

    @include media($mobile) { // As defined in _grid-settings.scss
        @include span-columns(6);
    }
    &:hover {
        img {border-color: $accent-4;}
        h2 {color: $accent-5;}
    }
}

.post {
    padding: 2rem;
}

.page-content {
    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    img {
        width: 100%;
        padding: 0;
        margin: 1rem auto;
        display: block;
    }
    .caption {
        display: block;
        margin: -.5rem auto 1rem auto;
        text-align: center;
        font-style: italic;
    }
}

.post-title {
    h2 {
        font-style: italic;
        color: $accent-4;
        padding: 1rem 0;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 3rem;
        text-align: center;
    }
}

footer {
    display: block;
    clear: both;
    text-align: center;
    background-color: $accent-4;
    color: $white;
    width: 100%;
    margin: 0;
    padding: .5rem 2rem;
}